*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  min-height: 100vh;
  background-color: $primary-color;
  color: #ccc;
  font-size: 14px;
  line-height: 1.6;
}
